<div id="buttons" align="center">
    <div class="button-row">        
            <button type="button" mat-raised-button color="primary" (click)="TerceiroAno()">Terceiro Ano</button>
            <button type="button" mat-raised-button color="primary" (click)="QuartoAno()">Quarto Ano</button>            
            <button type="button" mat-raised-button color="primary" (click)="QuintoAno()">Quinto ano</button>            
    </div>
</div>

<div id="dashBody">  
    <h2>{{year}}</h2>
    
    <h3>Alunos</h3>

    <div>
        <studenttable [anoRequerido]="ano"></studenttable>
    </div>

    <h3>Disciplinas</h3>
    <div>
        <disctable [anoRequerido]="ano"></disctable>
    </div>


    <button type="button" mat-raised-button color="primary" (click)="ShowNotas()">Mostrar Notas</button>
</div>
        
<div id="logout">
  <p>
    You are authenticated!
    <a routerLink="/">Go back</a>
  </p>
</div>